.demo-loadmore-list {
  min-height: 350px;
}

.loadmore {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}


.mail-title {
  margin-bottom: 0;
  font-size: 1rem !important;
  @media only screen and (max-width: 768px) {
    font-size: 0.75rem !important;
  }
}

.mail-time {
  font-weight: normal;
  font-size: 1rem !important;
  @media only screen and (max-width: 768px) {
    font-size: 0.75rem !important;
  }
}

.mail-des-bold {
  font-weight: bold;
  font-size: 0.875rem !important;
  @media only screen and (max-width: 768px) {
    font-size: 0.625rem !important;
  }
}

.mail-des-normal {
  font-weight: normal;
  font-size: 0.875rem !important;
  @media only screen and (max-width: 768px) {
    font-size: 0.625rem !important;
  }
}
