<nz-list
  class="demo-loadmore-list"
  [nzDataSource]="list"
  [nzItemLayout]="'horizontal'"
  [nzLoading]="initLoading"
  [nzHeader]="header"
  [nzRenderItem]="item"
  [nzLoadMore]="loadMore"
>
  <ng-template #header let-item>
    <nz-list-item>
      <nz-list-item-meta
        [nzTitle]="nzTitle"
      >
        <ng-template #nzTitle>
          <div nz-row>
            <div nz-col [nzXs]="{ span: 12, offset: 0 }" [nzLg]="{ span: 12, offset: 0 }">
              INBOX
            </div>
            <div nz-col [nzXs]="{ span: 12, offset: 0 }" [nzLg]="{ span: 12, offset: 0 }" style="text-align: right;">
              <a nz-dropdown [nzDropdownMenu]="menu">
                Filter
                <i nz-icon nzType="down"></i>
              </a>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item>1st menu item</li>
                  <li nz-menu-item>2nd menu item</li>
                  <li nz-menu-item>3rd menu item</li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
        </ng-template>
      </nz-list-item-meta>
    </nz-list-item>
  </ng-template>
  <ng-template #item let-item>
    <nz-list-item>
      <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="this.state.loadingContent">
        <nz-list-item-meta
          (click)="item.checked = !item.checked"
          [nzTitle]="nzTitle"
          [nzAvatar]="nzAvatarChecked"
          [nzDescription]="nzDescription"
        >
          <ng-template #nzAvatarChecked>
            <ng-container *ngIf="!!item.checked; else nzAvartarImage">
              <nz-avatar nzIcon="check"></nz-avatar>
            </ng-container>
            <ng-template #nzAvartarImage>
              <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
            </ng-template>
          </ng-template>
          <ng-template #nzTitle>
            <div nz-row>
              <p nz-col nzSpan="14" nz-paragraph class="mail-title" [nzEllipsis]="true">{{ item.sender.name }}</p>
              <div nz-col nzSpan="10">
                <ng-container *ngIf="!item.checked; then TemplateTime; else TemplateAction"></ng-container>
              </div>
            </div>
          </ng-template>
          <ng-template #nzDescription>
            <div nz-row>
              <div nz-col nzSpan="18">
                <p  nz-paragraph [nzEllipsis]="true"
                  class="mail-des-bold">{{item.subject}}</p>
              </div>
              <div nz-col nzSpan="6">
                <ng-container *ngIf="!!item.checked; then TemplateTime;"></ng-container>
              </div>
            </div>
            <p  nz-paragraph [nzEllipsis]="true"
              class="mail-des-normal text-overflow-ellipsis">{{item.body}}</p>
          </ng-template>
        </nz-list-item-meta>
      </nz-skeleton>
    </nz-list-item>
  </ng-template>
  <ng-template #loadMore>
    <div class="loadmore" style="padding-bottom: 80px">
      <button nz-button *ngIf="!loadingMore" (click)="onLoadMore()">loading more</button>
    </div>
  </ng-template>
</nz-list>


<ng-template #TemplateTime>
  <label class="mail-time" style="float: right;">11:15</label>
</ng-template>

<ng-template #TemplateAction>
  <label class="mail-time" style="float: right;">
    <i nz-icon nzType="delete" nzTheme="outline"></i>
    &nbsp; <i nz-icon nzType="mail" nzTheme="outline"></i>
    &nbsp; <i nz-icon nzType="flag" nzTheme="outline"></i>
    &nbsp; <i nz-icon nzType="pushpin" nzTheme="outline"></i>
  </label>
</ng-template>
