/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  font-family: 'Roboto', monospace !important;
}

app-main {
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    margin: 10px 24px 16px 0;
    float: left;
  }

  [nz-menu] {
    line-height: 64px;
  }

  nz-layout {
    height: 100vh;
    overflow-y: hidden;
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  .ant-layout-header {
    padding: 0 !important;
  }

  nz-content {
    margin: 0 16px;

    nz-breadcrumb {
      margin: 10px !important;
    }
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    padding: 10px;
    background: #fff;
    min-height: 360px;
    height: 85vh;
    max-width: 100vw;
    overflow-y: auto;
  }

  nz-footer {
    text-align: center;
  }
}


.text-overflow-ellipsis {
  width: 50vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-bold {
  font-weight: bold;
}

.text-nav {
  color: black !important;
}
.text-nav.ant-menu-item-selected {
  color: white !important;
}
