<nz-layout>
  <nz-layout>
    <nz-header>
      <img class="logo" src="./assets/image/logo/side_logo.png" [routerLink]="'/mail/inbox'">
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item class="text-nav" [routerLink]="'/mail/inbox'" routerLinkActive="ant-menu-item-selected">Mail box</li>
      </ul>
    </nz-header>
    <nz-content>
      <app-breadcrumb [listBreadcrumb]="listBreadcrumb"></app-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
